{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block header %}
	{{ article.header }}
{% endblock %}


{% block body %}
<div class="col-md-12 blog-post" style='display:block'>

	<!-- Post Headline Start -->
	<div class="post-title">
		<h1>{{ article.header }}</h1>
	</div>
	<!-- Post Headline End -->


	<!-- Post Detail Start -->
	<div class="post-info">
		<span>Article du
			{{ article.createdAt |format_datetime(locale='fr') }}
			écrit par
			{{ article.authorName }}</span>
	</div>
	<!-- Post Detail End -->


	<p>{{ article.content | raw}}</p>


	<!-- Post Image Start -->
	<div class="post-image margin-top-40 margin-bottom-40">

		<img src="{{ asset('build/images/pattern-bg.3c10a35f.png') }}" alt="premiere image">


		<p>Aidez nous à sauver notre chère planète.</p>
		<p></p>
	</div>
	<!-- Post Image End -->

	<!-- Post Image Gallery Start -->
	<div class="row margin-top-40 margin-bottom-40" style='display:grid;grid-template-column:1fr 1fr 1fr;'>

		<div class="">
				<img src="{{ asset('build/images/template-imgs/hausse-niveau-mer-rechauffement-climatique.jpeg') }}" class="img-responsive" alt="hausse-niveau-mer-rechauffement-climatique" style='width:100%'>
		</div>

		<div class="">
			<img src="{{ asset('build/images/template-imgs/secheresse-rechauffement-climatique.jpg') }}" class="img-responsive" alt="secheresse-rechauffement-climatique" style='width:100%'>
		</div>

		<div class="">
			<img src="{{ asset('build/images/template-imgs/ours-polaire-rechauffement-climatique.jpg') }}" class="img-responsive" alt="ours-polaire" style='width:100%'>
		</div>
	</div>
	<!-- Post Image Gallery End -->

		<!-- You May Also Like Start -->
		<div class="you-may-also-like margin-top-50 margin-bottom-50">
			<h3>Ces articles peuvent aussi vous intéresser</h3>
			<div class="row" style='display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:20px'>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="single.html">
						<p>$related-1</p>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="single.html">
						<p>$related-2</p>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="single.html">
						<p>$related-3</p>
					</a>
				</div>

			</div>
		</div>
		<!-- You May Also Like End -->

	</div>
	<!-- Post Author Bio Box ends -->

</div>

{% endblock %}


